



[Unit]
Description=Pi AI Session Snaphot Reciever
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/pi-ai
ExecStart=/home/pi/pi-ai/venv/bin/python /home/pi/pi-ai/session_server.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
